[mysqld]
port=2883
skip-name-resolve
log_bin_trust_function_creators = 1
user                    = mariadb
pid-file                = /run/mariadb/mariadb.pid
basedir                 = /usr
datadir                 = /mnt/data/mariadb/data
plugin-dir=/usr/local/mariadb/lib/plugin
tmpdir                  = /tmp

# Broken reverse DNS slows down connections considerably and name resolve is
# safe to skip if there are no "host by domain name" access grants
#skip-name-resolve

# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address            = 0.0.0.0

#
# * Fine Tuning
#

#key_buffer_size        = 128M
#max_allowed_packet     = 1G
#thread_stack           = 192K
#thread_cache_size      = 8
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
#myisam_recover_options = BACKUP
max_connections        = 200
wait_timeout           = 600
interactive_timeout    = 600
event_scheduler = ON
lower_case_table_names = 0
#table_cache            = 64

#
# * Logging and Replication
#

# Note: The configured log file or its directory need to be created
# and be writable by the mariadb user, e.g.:
# $ sudo mkdir -m 2750 /var/log/mariadb
# $ sudo chown mariadb /var/log/mariadb

# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# Recommend only changing this at runtime for short testing periods if needed!
general_log_file       = /var/log/mariadb/mariadb.log
general_log            = 1

# When running under systemd, error logging goes via stdout/stderr to journald
# and when running legacy init error logging goes to syslog due to
# /etc/mariadb/conf.d/mariadb.conf.d/50-mysqld_safe.cnf
# Enable this if you want to have error logging into a separate file
#log_error = /var/log/mariadb/error.log
# Enable the slow query log to see queries with especially long duration
#log_slow_query_file    = /var/log/mariadb/mariadb-slow.log
#log_slow_query_time    = 10
#log_slow_verbosity     = query_plan,explain
#log-queries-not-using-indexes
#log_slow_min_examined_row_limit = 1000

# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
server-id              = SERVER_ID
log_bin                = /mnt/data/mariadb/binlog/bin.log
expire_logs_days        = 30
max_binlog_size        = 1024M

#
# * SSL/TLS
#

# For documentation, please read
# https://mariadb.com/kb/en/securing-connections-for-client-and-server/
#ssl-ca = /etc/mariadb/cacert.pem
#ssl-cert = /etc/mariadb/server-cert.pem
#ssl-key = /etc/mariadb/server-key.pem
#require-secure-transport = on


[embedded]
