[mysqld]
max_connections=1024
innodb=OFF
default-storage-engine=Aria
default-tmp-storage-engine=Aria
skip-innodb
binlog_format=row
transaction-isolation=READ-COMMITTED
log_slave_updates=1
character-set-server=binary
collation-server=binary
socket=/run/mariadb/mariadb.sock
lc_messages_dir=/usr/local/mariadb/share/
lc_messages=zh_CN

[mariadb]
plugin_load_add=ha_rocksdb
